html {
	overflow: hidden;
}

body {
	background-color: #181818;
}

#pageActive {
	color: darkcyan;
	font-weight: 600;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -0.5em;
	width: 28em;
	max-width: 100%;
	max-height: 100%;
}

p {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

h1, p, footer {
	font-family: Arial;
	color: white;
	opacity: 0.87;
}

h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.7em;
	font-size: 20px;
	font-weight: 550;
	letter-spacing: 2px;
}

@keyframes fadein {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

img {
	opacity: 0;
	animation-name: fadein;
	animation-duration: 2.5s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

.cover {
	opacity: 0;
	animation-name: fadein;
	animation-duration: 2.5s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}

/**footer {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 3.5em;
	font-size:  15px;
	font-weight: 550;
}**/

.nav {
	position: fixed;
	bottom: 0;
  	left: 0;
  	width:  100%;
  	padding-top: 2em;
  	padding-bottom: 0.7em;
 	-webkit-backdrop-filter: blur(8px);
  	backdrop-filter: blur(8px);
}

ul {
	border-top: 2px solid rgba(255, 255, 255, 0.87);
	list-style-type: none;
  	margin: auto;
  	padding: 0;
  	width:  20em;
  	text-align: center;
  	font-weight: 600;
  	font-family: Arial;
  	font-size: 13px;
}

li {
	display: inline-block;
	margin-left: 1.2em;
	margin-right: 1.2em;
	padding-top: 0.7em;
}

a {
	color: rgba(255, 255, 255, 0.87);
}

.webname {
	position: fixed;
	z-index: -1;
	bottom: 2em;
	left: 0;
	width:  100%;
	color: rgba(255, 255, 255, 0.87);
}