html {
	overflow: visible;
}

body {
	background-color: #181818;
}

#pageActive {
	color: darkcyan;
	font-weight: 600;
}

p {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	opacity: 0;
	animation-name: fadein;
	animation-duration: 3s;
	animation-delay: 3.5s;
	animation-fill-mode: forwards;
	transform: translate(0px, 395px);
}

h1, p, footer {
	font-family: Helvetica, serif;
	color: white;
}

h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4.7em;
	margin-bottom: -3.6em;
	font-size: 52px;
	font-weight: 600;
	transform: translate(0px, 50px);
}

@keyframes fadein {
  0%   {opacity: 0;}
  100%  {opacity: 0.87;}
}

@keyframes movedown {
	0% {transform: translate(0px, 0px);}
  100% {transform: translate(0px, 160px);}
}

.coverImg {
	opacity: 0;
	animation-name: fadein;
	animation-duration: 2.5s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

.cover {
	opacity: 0;
	animation-name: fadein, movedown;
	animation-duration: 1.5s, 1s;
	animation-delay: 1s, 2s;
	animation-fill-mode: forwards;
}

a {
	color: rgba(255, 255, 255, 0.87);
}

.dragon model-viewer{
	opacity: 0;
  height: 370px;
  width: 315px;
  max-width: 90%;
  max-height: 90%;
  margin: auto; 
  margin-top: 1em;
  animation-name: fadein;
	animation-duration: 2.5s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	transform: translate(0px, -150px);
}

.about {
	margin-top: 1.2em;
	margin-bottom: 2em;
	text-align: center;
	transform: translate(0px, 395px);
}

a.button {
	border: 1px solid white;
	border-radius: 5px;
	background: -webkit-linear-gradient(transparent 50%, white 50%);
	background-size: 700px 650px;
	font-size: 20px;
	font-weight: 600;
	padding: 0.5em 4.9em;
	-webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
	animation-name: fadein;
	animation-duration: 2.5s;
	animation-delay: 4s;
	animation-fill-mode: forwards;
}

a.button:after {
	color: black;
  content: '﹀';
  position: absolute;
  opacity: 0;  
  top: 30px;
  left: 49.35%;
  transition: 0.4s;
}

a.button:hover {
	color: black;
	text-decoration: none;
  padding-bottom: 18px;
	box-shadow: 0px 0px 5px white;
	background-position: 0 55px;
}

a.button:hover:after {
	color: black;
  opacity: 1;
  top: 21px;
}

/**footer {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 3.5em;
	font-size:  15px;
	font-weight: 550;
}**/